# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore `bin` dir
bin/*

# Ignore pycache dir
src/__pycache__/*
