MAIN:{
    name  = "highThroughput"
    
    model = {name:"MADnaFast"}
    
    #model = {name:"WLC",parameters:{M:100.0,
    #                                b:1.0,
    #                                Kb:100.0,
    #                                Ka:50.0}
    #        }
}

SEQUENCES:{

    transformations:{alingAlongAxis:{axis:[0.0,0.0,1.0],
                                     basePair1:-1,
                                     basePair2:1}}

}

SIMULATION:{

    options:{
        simulationTime = 100000.0
        infoTime  = 10.0
        writeTime = 10.0
        backupTime = 100000.0
    }

    measures:{measureTime = 100.0,
              measuresList = ["temperature","energy"]}
}
