MAIN:{
    name  = "dev"
    model = {name:"MADnaFast"}
    #model = {name:"WLC",parameters:{M:100.0,
    #                                b:1.0,
    #                                Kb:100.0,
    #                                Ka:50.0}
    #        }
}

SEQUENCES:{
    
    generate:{
              #list:({alias:"listseq",seq:"CCGCGAAAAACAAAACCGCGCCGCGAAAAACAAAACCGCG",copies:10},
              #      {alias:"listseq",seq:"CGCGAAGAAACCAACGCGCGCGCGAAGAAACCAACGCGCG",copies:10},
              #      {alias:"listseq",seq:"CGCGAAGCAAACAACGCGCGCGCGAAGCAAACAACGCGCG",copies:10}),
              random:{sequencesLength:100,
                      sequencesNumber:10,
                      sequencesCopies:10,
                      seed:123456789}
             }
    
    #transformations:{alingAlongAxis:{axis:[1.0,0.0,0.0],
    #                                 basePair1:-1,
    #                                 basePair2:1}}
    transformations:{moveBasePairCOMtoPosition:{position:[10.0,-5.0,123.0],
                                                basePair:1}}
}

SIMULATION:{

    options:{
        simulationTime = 1000.0
        infoTime  = 10.0
        writeTime = 10.0
        backupTime = 100.0
    }

    #boundaries:{zPlates:{initialPlatesSeparation:"auto",
    #                     finalPlatesSeparation:200.0,
    #                     compressionVelocity:0.000}
    #           }
    
    measures:{measureTime = 100.0,
              measuresList = ["temperature","energy"]}
}
    
MODIFICATIONS:{

    external:{
              forceBtwCOM:{force:100.0,
                           pairType="S",
                           basePair1:2,
                           basePair2:-2}
    #                       {force:100.0,
    #                        pairType="All",
    #                        basePair1:[4,5,6,7,8],
    #                        basePair2:[-4,-5,-6] }),
    #          force:(
    #                 {force:[0.0,0.0,100.],
    #                  pairType="S",
    #                  basePair:2},
    #                  {force:[0.0,0.0,-100.0],
    #                  pairType="S",
    #                  basePair:-2},
    #                )
    #          torque:{torque:[0.0,0.0,50.0],
    #                  pairType="All",
    #                  basePair:2}
              torqueBtwCOM:{torque:1000.0,
                            pairType="All",
                            basePair1:[2,3],
                            basePair2:[-2,-3]}
    
             }

    #constraints:{
    #             distanceBtwCOM:(
    #                             {distance:"auto",
    #                              K:100.0,
    #                              pairType="S",
    #                              basePair1:4,
    #                              basePair2:-4})

    #             positionOfCOM:(
    #                            {position:"auto",
    #                             K:[10.0,10.0,10.0],
    #                             pairType="S",
    #                             basePair:[2,10,23]},
    #                             )

    #             positionOfBeads:({K:[10.0,10.0,10.0],
    #                               pairType="All",
    #                               basePair:-2},
    #                              {K:[10.0,10.0,10.0],
    #                               pairType="All",
    #                               basePair:[2,10,20]})
    #            },
}
        
