MAIN:{
    modelName = "MADna"
    name = "dev"
}

SEQUENCES:{
    
    generate:{
              #list:({alias:"listseq",seq:"CCGCGAAAAACAAAACCGCGCCGCGAAAAACAAAACCGCG",copies:10},
              #      {alias:"listseq",seq:"CGCGAAGAAACCAACGCGCGCGCGAAGAAACCAACGCGCG",copies:10},
              #      {alias:"listseq",seq:"CGCGAAGCAAACAACGCGCGCGCGAAGCAAACAACGCGCG",copies:10}),
              random:{sequencesLength:40,
                      sequencesNumber:5,
                      sequencesCopies:5,
                      seed:123456789}
             }
    
    transformations:{alingAlongAxis:{axis:[1.0,0.0,0.0],
                                     basePair1:-1,
                                     basePair2:1}}
}

SIMULATION:{

    options:{
        simulationTime = 100000.0
        infoTime  = 10.0
        writeTime = 10.0
        backupTime = 100000.0
    }

    boundaries:{zPlates:{initialPlatesSeparation:"auto",
                         finalPlatesSeparation:200.0,
                         compressionVelocity:0.001}
               }
    
    measures:{measureTime = 100.0,
              measuresList = ["temperature","energy"]}
}
    
MODIFICATIONS:{

    external:{
              forceBtwCOM:{force:100.0,
                           pairType="S",
                           basePair1:2,
                           basePair2:-2},

              force:(
                     {force:[0.0,0.0,100.],
                      pairType="S",
                      basePair:2},
                      {force:[0.0,0.0,-100.0],
                      pairType="S",
                      basePair:-2},
                    )
              torque:{torque:[0.0,0.0,50.0],
                      pairType="All",
                      basePair:2}
             },

    constraints:{
                 distanceBtwCOM:(
                                 {distance:"auto",
                                  K:100.0,
                                  pairType="S",
                                  basePair1:4,
                                  basePair2:-4})

                 positionOfCOM:(
                                {position:"auto",
                                 K:[10.0,10.0,10.0],
                                 pairType="S",
                                 basePair:2},
                                 )

                 positionOfBeads:({K:[10.0,10.0,10.0],
                                   pairType="All",
                                   basePair:-2},
                                  {K:[10.0,10.0,10.0],
                                   pairType="All",
                                   basePair:2})
                },

}
        
