SEQUENCES:{
    
    name = "sequencesTest"
    
    generate:{list:{CCGCGAAAAAAAAAACGCG:10,
                    CGCGAAGAAAAAAACGCG:10,
                    CGCGAAGCAAAAAACGCG:10},
              random:{sequencesLength:10,
                      sequencesNumber:1,
                      sequencesCopies:1}
             }
    
    transformations:{alingAlongAxis:{axis:[0.0,0.0,1.0],
                                     basisPair1:1,
                                     basisPair2:-1}}
}

SIMULATION:{

    options:{
        simulationTime = 500000.0
        infoTime = 4000.0
        writeTime = 4000.0
        backupTime = 100000.0
    }

    modifications:{

        pulling:{constantForce:{pullingForce:10.0,
                                pullingBasePair1:2,
                                pullingBasePair2:-2},

                 #externalForce:{pullingExternalForce:[10.0,-2.0,5.0],
                 #               pullingExternalBasePair1:2}
                },

        constraints:{
                     harmonicCOMdistance:({COMdistance:10.0,
                                           COMk:10.0,
                                           constrainedBasePair1:2,
                                           constrainedBasePair2:-2},
                                          {COMdistance:"auto",
                                           COMk:100.0,
                                           constrainedBasePair1:2,
                                           constrainedBasePair2:-2})

                     harmonicCOMfixed:({fixedPoint:"auto",
                                        Kfixed:[10.0,10.0,0.0],
                                        fixedBasePair1:2},
                                       {fixedPoint:[0.0,0.0,0.0],
                                        Kfixed:[10.0,10.0,0.0],
                                        fixedBasePair1:-2})
                    },

        boundaries:{zPlates:{initialPlatesSeparation:"auto",
                             endPlatesSeparation:25.0,
                             compressionVelocity:0.001}
                   }
    }
}
